.hi-expand-panel {
  position: relative;
  display: flex;
  transition: flex 0.3s ease;

  &:hover {
    .hi-expand-panel--control-trigger {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--content {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
  }

  &--control {
    &-draggable:hover {
      cursor: var(--control-draggable-cursor);
    }

    &-dragging {
      background-color: var(--control-dragging-bg-color) !important;
    }
  }

  &--right,
  &--left {
    .hi-expand-panel--control {
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: var(--td-gray-color-4);

      &-trigger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: var(--td-font-white-1);
        border: 1px solid var(--td-gray-color-4);
        width: 12px;
        height: 56px;
        display: none;
        border-radius: 6px;
      }
    }
  }

  &--right {
    flex-direction: row;
    .hi-expand-panel--control {
      right: 0;
      &-trigger {
        right: -6px;
      }
    }
  }

  &--left {
    flex-direction: row-reverse;
    .hi-expand-panel--control {
      left: 0;
      &-trigger {
        left: -6px;
      }
    }
  }

  &--top,
  &--bottom {
    .hi-expand-panel--control {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--td-gray-color-4);

      &-trigger {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        background-color: var(--td-font-white-1);
        border: 1px solid var(--td-gray-color-4);
        width: 56px;
        height: 12px;
        display: none;
        border-radius: 6px;
      }
    }
  }

  &--top {
    flex-direction: column-reverse;
    .hi-expand-panel--control {
      top: 0;
      &-trigger {
        top: -6px;
      }
    }
  }

  &--bottom {
    flex-direction: column;
    .hi-expand-panel--control {
      bottom: 0;
      &-trigger {
        bottom: -6px;
      }
    }
  }
}